venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg
*.egg-info/
dist/
build/
*.log
.env
.venv/
.venv/*
projet (1).pdf

app_Vue/node_modules/
app_Vue/dist/
app_Vue/package-lock.json
mlruns/
models/